
.collapses{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.description, .equipments{
    width: 47%;
}

.equipments p{
    margin: 0;
}


.collapses .collapse-header h3{
    font-size: 18px;
}

.collapses p{
    font-size: 18px;
}

#presentation{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#presentation h3{    
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.titleLogement{
    font-weight: 500;
    font-size: 36px; 
    margin-bottom: 0;       
}

.tagsContainer{
    display: flex;
}

.tags{
    width: auto;
    background-color: #ff6060;
    color: white;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    text-align: center;
}

#author{
    align-self: self-end;
}

.author{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    height: 90px;    
}

.author p{
    flex-basis: min-content;
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
}

.roundImg{
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
}

.roundImg img{
    width: 65px;
    height: 65px;
    -o-object-fit: cover;
       object-fit: cover;
}


@media screen and (max-width: 767px){

    #presentation{
        flex-direction: column;
    }

    .presentation{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    h2.titleLogement{
        font-size: 18px;
    }

    #presentation h3{
        font-size: 14px;
    }

    .tagsContainer{
        width: 100%;
        flex-wrap: wrap;
    }
    
    .tags{
        font-size: 10px;
        margin-bottom: 10px;
    }

    #author{
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        width: 100%;
    }

    .author{
        height: 50px;
        order: 2;
    }

    .roundImg{
        width: 32px;
        height: 32px;
    }
    
    .roundImg img{
        width: 32px;
        height: 32px;
    }
    .author p{
        font-size: 12px;
    }
    
    .rating{
        font-size: 18px;
    }

    #description .collapses{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .description, .equipments{
        width: 100%;
    }

    #description .arrow{
        border-width: 0 2px 2px 0;
      padding: 5px;
    }

    #description article.collapse-container{
        margin-top: 10px;
    }

    #description .collapse-header h3{
        font-size: 13px;
    }

    #description .collapses p{
        font-size: 12px;
    }

    #description .collapse-content{
        padding: 20px 15px 15px 15px;
    }
}

