#bannerCarrousel{
    display: flex;
    height: 415px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 100%;
    margin: 0 auto;    
    overflow: hidden;
    position: relative;
}

.banner{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;  
}

.carousel__images {
    display: flex;
    width: 100%;
    height: 100%;
    
}


.carousel__image {
    width: 100%;
    height: 415px;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.carousel__image.active {
    transform: translateX(0%);
}
  
.carousel__image.prev {
    transform: translateX(-100%);
}
  
.carousel__image.next {
    transform: translateX(100%);
}

.carousel__index {
    position: absolute;
    bottom: 10px;    
    left: 49%;
    color: #fff;
    font-size: 18px;
    z-index: 1;
}

.bouton{
    z-index: 5;
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 42%;
}

#gauche{
    left: 0;
    opacity: 0.4;
}

#droite{
    right: 0;
    opacity: 0.4;
}

#gauche:hover{
    opacity: 1;
    transition: all 0.3s ease;
}

#droite:hover{
    transition: all 0.3s ease;
    opacity: 1;
}

#bannerCarrousel .banner{
    width: 100%;
    height: auto;
}

.active{
    opacity: 1;
}


@media screen and (max-width: 767px){

    #bannerCarrousel{
        height: 255px;
    }

    .carousel__image{
        height: 255px;
    }

    .bouton{
        width: 30px;
    }

    .carousel__index{
        font-size: 13px;
        display: none;
    } 


}
