footer{  
    position: absolute; 
    bottom: 0; 
    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: auto;
    margin: 0px auto;
    background-color: black;
}

.logofooter, .droitsKasa{
    padding: 20px;
}

