footer{  
    
    display: grid;
    margin-top: auto;
    
    place-items: center;    
    width: 100%;
    height: auto;
    margin: 0px auto;
    background-color: black;
}

.logofooter, .droitsKasa{
    padding: 20px;
}

