header{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding: 0px;
    align-self: center;
}

ul li{
    display: inline-block;
    margin-left: 20px;
    
}

a{
    text-decoration: none;
    color: #ff6060;
    font-size: 24px; 
    padding-left: 30px;   
    font-weight: 500;
}

@media screen and (max-width: 767px)  {

    header{
        padding-bottom: 20px;
    }

    nav img{
        width: 145px;
    }

    nav a{
        font-size: 12px;
        padding-left: 10px;
    }

    nav li{
        margin-left: 0;
    }
}