header{
    padding: 20px 0px 0px 20px;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding: 0px;
    align-self: center;
}

ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #ff6060
}